PORT=3000
MONGODB_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/noctra
SESSION_SECRET=noctra_super_secret_key_change_this

# SSLCommerz
SSLCOMMERZ_STORE_ID=noctr6a13514d0c317
SSLCOMMERZ_STORE_PASSWORD=noctr6a13514d0c317@ssl
SSLCOMMERZ_IS_LIVE=false

# Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=noctra@admin123

# App URL (update after Railway deployment)
APP_URL=http://localhost:3000
